{% extends 'layouts/admin_dashboard.html' %}

{% block charts_css %}
<!-- DataTables -->
<link href="{{ url_for('static', filename='assets/plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet"
    type="text/css" />
<link href="{{ url_for('static', filename='assets/plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet"
    type="text/css" />
<link href="{{ url_for('static', filename='assets/plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet"
    type="text/css" />
<link href="{{ url_for('static', filename='assets/plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet"
    type="text/css" />
<link href="{{ url_for('static', filename='assets/plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet"
    type="text/css" />
{% endblock %}

{% block content %}
{% include 'partials/patients-list.html' %}

{% endblock %}

{% block chart_js %}
<!-- Datatables-->
<script src="{{ url_for('static', filename='assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src=" {{ url_for('static', filename='assets/plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/jszip.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/dataTables.keyTable.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/plugins/datatables/dataTables.scroller.min.js')}}"></script>

<!-- Datatable init js -->
<script src="{{ url_for('static', filename='assets/pages/datatables.init.js')}}"></script>

{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({ keys: true });
        $('#datatable-responsive').DataTable();
        $('#datatable-scroller').DataTable({ ajax: "assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true });
        var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
    });
    TableManageButtons.init();

</script>
{% endblock %}